# IDEA
.idea/
**/.idea/

# Gradle
.gradle/
**/.gradle/

# Kotlin
.kotlin/
**/.kotlin/

# Build directories
build/
**/build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env

# IntelliJ module files
*.iml

# VSCode
.vscode/

# Generated
out/